// .first-field {
//   margin-top: 100px;
// }


$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.img-div {
  position: relative;
  overflow: hidden;
}

.img-div img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.2;
}

label {
  font-size: 28px;
  color: #41a1d1;
  padding: 20px;
  padding-right: 130px;
  padding-left: 130px;
}

.nav-li {
  display: inline-block;
  padding: 30px;
  font-size: 16px;
}

.glyphicon.glyphicon-equalizer {
  font-size: 30px;
}

.navbar {
  background-color: #41a1d1;
  z-index: 1;
}

.nav-li {
  display: inline-block;
  padding: 30px;
  font-size: 16px;
}

.nav-li a {
  color: blue;
}

.nav li:first-child {
  margin-left: 20px;
}

#new-song {
  border-radius: 20px;
  color: white;
  background-color: #41a1d1;
}




