<div class="songs">
  {{#each songs}}
  <div>
    <h2>{{name}}<span class='glyphicon glyphicon-music music-notes' aria-hidden='true'></span></h2>
    <p class="songinfo">By {{artist}} on the album {{album}}</p>
    <button type='button' class='btn btn-danger btn-xs deleteButton'>Remove</button>
  </div>
  {{/each}}
</div>